fastapi==0.116.0
uvicorn[standard]
python-multipart
matplotlib==3.10.3
mne==1.9.0
mysql_connector_repackaged==0.3.1
numpy==2.3.1
pandas==2.3.1
pydantic==2.11.7
python-dotenv==1.1.1
python_jose==3.5.0
SQLAlchemy==2.0.41
passlib[bcrypt]==1.7.4
bcrypt==3.2.2